.env
aidersplatform/django_api/__pycache__/
aidersplatform/django_api/__pycache__/
aidersplatform/django_api/aiders/__pycache__/
aidersplatform/django_api/aiders/management/commands/__pycache__/
aidersplatform/django_api/aiders/media/
aidersplatform/django_api/aiders/migrations/
aidersplatform/django_api/aiders/tests/__pycache__/
aidersplatform/django_api/django_api/__pycache__/
aidersplatform/django_api/general.log
aidersplatform/django_api/logic/Constants/__pycache__/
aidersplatform/django_api/logic/__pycache__/
aidersplatform/django_api/logic/algorithms/__pycache__/
aidersplatform/django_api/logic/algorithms/build_map/__pycache__/
aidersplatform/django_api/logic/algorithms/fire_prediction/__pycache__/
aidersplatform/django_api/logic/algorithms/lora_station/__pycache__/
aidersplatform/django_api/logic/algorithms/mesh_monitoring/__pycache__/
aidersplatform/django_api/logic/algorithms/mission/__pycache__/
aidersplatform/django_api/logic/algorithms/object_detection/__pycache__/
aidersplatform/django_api/logic/algorithms/object_detection/src/__pycache__/
aidersplatform/django_api/logic/algorithms/object_detection/src/models/__pycache__/
aidersplatform/django_api/logic/algorithms/object_detection/src/utils/__pycache__/
aidersplatform/django_api/logic/algorithms/path_planning/__pycache__/
aidersplatform/django_api/logic/algorithms/safe_drones/__pycache__/
aidersplatform/django_api/logic/algorithms/telemetry_listener/__pycache__/
aidersplatform/django_api/logic/algorithms/weather_station/__pycache__/
aidersplatform/django_api/logic/djiswarmcatkinws/src/dji_sdk/scripts/online.pyc
aidersplatform/django_api/logic/djiswarmcatkinws/src/dji_sdk/scripts/online_cluster.pyc
aidersplatform/django_api/logic/djiswarmcatkinws/src/kios/__pycache__/
aidersplatform/django_api/logic/djiswarmcatkinws/src/kios/catkin_generated/__pycache__/
aidersplatform/django_api/logic/djiswarmcatkinws/src/kios/cmake/__pycache__/
aidersplatform/django_api/logic/djiswarmcatkinws/src/kios/script/
aidersplatform/django_api/results_TM/


