/.env
__pycache__
__init__.py
!web/django_api/aiders/models/__init__.py
# frames

general.log
logs/

web/django_api/aiders/media/*
web/django_api/aiders/migrations/
web/django_api/results_TM/
osm-data
db-logs

*/app/database/connection.py


######################################################
# these files are zipped because they are over 100mb #
######################################################

platform_geojson_files_roadnetwork_original.geojson
platform_geojson_files_buildings.geojson
cv/app/crowd_loc/weights/model_best.pth
cv/app/crowd_loc/weights/model_best_half_kernels_05.pth

# SESAME
safeml/app/safeml/29092023_Good_Results/wasserstein/train_features.npy

