<div id="pilot-not-dialog">
    <div class="dialog-content">
        <form id="pilotNotForm" name="pilotNotForm" style="display: block;">
            <input id="selected-drone-input" value="" type="hidden">
            <input id="username" name="username" value="{{ user.username }}" type="hidden">

            <div class="row">
                <div class="col-12">
                    <div class="mission-popup-title">Drone</div>
                    <div class="selected-drone">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <div class="form-group">
                        <div class="mission-popup-title">Message</div>
                        <input class="form-control" type="text" id="message" name="message">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p class="errorMessage"></p>
                </div>
            </div>
        </form>

    </div>
</div>