global
   log /dev/log local0
   log /dev/log local1 notice
   chroot /var/lib/haproxy
   stats timeout 240s
   maxconn 10240
   user haproxy
   group haproxy
   daemon

defaults
   log global
   mode http
   option tcplog
   option dontlognull
   timeout connect 5000
   timeout client 50000
   timeout server 50000

listen mysqlserver
   bind 0.0.0.0:${DB_PORT}
   mode tcp

   acl allowed_ip src 127.0.0.1 ${NET_IP} ${GATEWAY} ${DB_WHITELIST}
   tcp-request connection accept if allowed_ip
   tcp-request connection reject

   server mysqlcont ${DB_IP}:${DB_PORT} check
