{% extends "base.html" %}

{% load static %}
{% load tags %}

{% block title %}
Aiders - Algorithms
{% endblock %}


{% block head_block %}

    <link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">{{operation_name}} Algorithms</h3>
        <div class="col">
            <a class="btn btn-primary float-end mx-1 {% if not perms.aiders.edit_permissions %}disabled{% endif %}" href="{% url 'manage_permissions' %}">
                <i class="far fa-plus-square "></i>
                Edit Permissions
            </a>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm" style="color: black">
            <div><br/></div>
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}

            <table id="Table" class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Algorithm Name</th>
                    <th>Executed At</th>
                    <th>Operation Name</th>
                    <th>View Input</th>
                    <th>View Output</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                </form>
                {% if algorithm_list %}

                {% for algo in algorithm_results %}
                <tr>

                    <td> {{algo.id}}</td>
                    <td> {{algo.algorithm_name|removeUnderScore|title}}</td>
                    <td> {{algo.time}}</td>
                    <td> {{algo.operation.operation_name}}</td>
                    <td>
                        <form action="{% url 'algorithm_result' operation_name=algo.operation.operation_name pk=algo.id attr='input'  %}">
                            <button id="algoSelectionSubmitBtn" type="submit"  class="btn btn-primary">View Input</button>
                        </form>
                    </td>

                    <td>
                        <form action="{% url 'algorithm_result' operation_name=algo.operation.operation_name pk=algo.id attr='output'  %}">
                            <button type="submit" class="btn btn-primary">View Output</button>
                        </form>
                    </td>
                    {% if algo.canBeLoadedOnMap %}
                    <td><input type="checkbox" name="checkedAlgoResultIDs" value="{{algo.id}}"></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
            </table>

            <div style="text-align: center;  margin-top:0.5cm; margin-bottom:1cm;">

            <!--			 <button type="button" class="btn btn-primary">Visualize</button>-->
            <input type="hidden" name="next" value="{{ request.path }}">
            <!--		<input type="submit" value="Visualize"/>-->
            <button type="submit"  class="btn btn-primary" value="Visualize" name="Visualize">Visualize</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script_block %}

    $(document).ready(function(){
        $('#Table').dataTable();
    });


{% endblock %}
