{% extends "base.html" %}

{% load static %}

{% block title %}
Aiders - Algorithm List
{% endblock %}


{% block head_block %}

<link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet">
<script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">Algorithm {{attr_name}}</h3>
    </div>
    <div class="row mb-5">
        <div class="col-sm" style="color: black">
            <div><br/></div>
            {{attr_object_html_format |safe}}

        </div>
    </div>
</div>
{% endblock %}



