{% extends "base.html" %}

{% load static %}
{% load guardian_tags %}

{% block title %}
Aiders - Flying Reports
{% endblock %}


{% block head_block %}

    <link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
    <script src="{% static 'aiders/javascripts/constants/constants.js' %}"></script>
    <script src="{% static 'aiders/javascripts/dutils/dutils.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/dutils/dutils_conf_urls.js' %}" type="text/javascript"></script>
{% endblock %}


{% block body_block %}


<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">{{operation_name}} Flying Reports</h3>
        {% if perms.aiders.manage_operations %}
            <div class="col">
                <a class="btn btn-success float-end mx-1" href="{% url 'flying_report'  operation_name=operation_name %}">
                    <i class="fa-solid fa-plus "></i>
                    New Report
                </a>
            </div>
        {% endif %}        
    </div>
    <div class="row mb-5">
        <div class="col-sm" style="color: black">
            <div><br/></div>

                <table id="Table" class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Altitude</th>
                    <th>Radius</th>
                    <th>Buffer Altitude</th>
                    <th>Buffer Radius</th>
                    <th>Start Date Time</th>
                    <th>End Date Time</th>
                    <th>PDF</th>
                </tr>
                </thead>
                <tbody>
                {% if flying_reports %}
                    {% for flying_report in flying_reports %}
                        <tr>
                            <td class='align-middle'> {{flying_report.id}}</td>
                            <td class='align-middle'> {{flying_report.user}}</td>
                            <td class='align-middle'> {{flying_report.latitude}}</td>
                            <td class='align-middle'> {{flying_report.longitude}}</td>
                            <td class='align-middle'> {{flying_report.altitude}}</td>
                            <td class='align-middle'> {{flying_report.radius}}</td>
                            <td class='align-middle'> {{flying_report.buffer_altitude}}</td>
                            <td class='align-middle'> {{flying_report.buffer_radius}}</td>
                            <td class='align-middle'> {{flying_report.start_date_time}}</td>
                            <td class='align-middle'> {{flying_report.end_date_time}}</td>
                            <td class='align-middle'>
                                <a href="/media/{{flying_report.file_path}}" target="_blank" class="btn btn-primary" title="View Flight Report">
                                    <i style="color:white;" class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'aiders/javascripts/flying_report/flying_reports.js' %}"></script>

{% endblock %}

{% block script_block %}
    $(document).ready(function(){
        $('#Table').dataTable();
    });
{% endblock %}

