{% extends "base.html" %}

{% load static %}
{% load guardian_tags %}

{% block title %}
Aiders - Flying Report
{% endblock %}

{% block head_block %}
    <link href="{% static 'libs/jquery-ui/http_ajax.googleapis.com_ajax_libs_jqueryui_1.12.1_themes_smoothness_jquery-ui.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery-ui/http_ajax.googleapis.com_ajax_libs_jqueryui_1.12.1_jquery-ui.js' %}"></script>
    <link href="{% static 'libs/jquery.mCustomScrollbar/__malihu.github.io_custom-scrollbar_jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/jquery-ui/__code.jquery.com_ui_1.12.1_themes_base_jquery-ui.css' %}" rel="stylesheet">
    <script src="{% static 'libs/hls/http_cdn.jsdelivr.net_npm_hls.js@1.2.0.js' %}"></script>
    <script src="{% static 'aiders/javascripts/constants/constants.js' %}"></script>
    <script src="{% static 'aiders/javascripts/dutils/dutils.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/dutils/dutils_conf_urls.js' %}" type="text/javascript"></script>
{% endblock %}

{% block style_block %}
<style>

    .form-control {

    }

    .form-section {
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0 2px 16px rgba(0,0,0,0.08);
        padding: 2rem 2.5rem;
        margin-top: 2rem;
    }
</style>
{% endblock %}

{% block body_block %}
<script>
    var available_drones = '{{ available_drones| safe }}'
    available_drones = JSON.parse(available_drones);
</script>
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="form-section col-lg-5 col-md-9 col-12">
        <div class="mb-4 text-center">
            <h3 class="fw-bold">Create Flying Report</h3>
        </div>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        <form id='post_form' method="post" action="{% url 'flying_report' operation_name=operation_name %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="form_selection" class="form-label">Select Location</label>
                <select name="form_selection" id="form_selection" class="form-select">
                    <option value="custom" selected="selected">Custom</option>
                    {% for drone in list_of_drones%}
                        <option value="{{drone.drone_name}}">{{drone.drone_name}}</option>
                    {% endfor %}
                </select>
                <div class="helptext">Custom location or the location of a drone.</div>
            </div>
            {% for field in form %}
            <p>
                <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}:*{% endif %}</label>
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
            </p>
            {% endfor %}
            <div class="d-flex justify-content-center gap-3 mt-4">
                <a href="{% url 'flying_reports' operation_name=operation_name %}" class="btn btn-danger">Back</a>
                <input type="button" value="Default" class="btn btn-primary" onclick="default_data_form()">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </form>
    </div>
</div>

<br />
<br />
<br />
<script src="{% static 'aiders/javascripts/flying_report/flying_report.js' %}"></script>
{% endblock %}

{% block script_block %}
    
{% endblock %}
