{% extends "base.html" %}

{% load static %}
{% load guardian_tags %}

{% block title %}
Aiders - Operations
{% endblock %}


{% block head_block %}

    <link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
    <script src="{% static 'aiders/javascripts/constants/constants.js' %}"></script>
{% endblock %}


{% block body_block %}


<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">Operations</h3>
        {% if perms.aiders.manage_operations %}
            <div class="col">
                <a class="btn btn-success float-end mx-1" href="{% url 'new_operation' %}">
                    <i class="fa-solid fa-plus "></i>
                    New Operation
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row mb-5">
        <div class="col-sm" style="color: black">
            <div><br/></div>

                <table id="Table" class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center"> ID</th>
                    
                    <th> Operation Name</th>
                    <th> Joined Users</th>
                    <th> Created By</th>
                    <th> Created At</th>
                    <th> Ended At</th>
                    <th style="width: 28%"> Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if operations %}
                    {% for op in operations %}
                        <tr style="height: 60px; {% if not op.active %}background-color:rgb(255, 198, 198);{% endif %}">
                            <td class='align-middle text-center'> {{op.id}}</td>
                            
                            <td class='align-middle'> {{op.operation_name}}</td>
                            <td class='align-middle'>    
                                {% for user in users %}
                                    {% if user.joined_operation.operation_name  == op.operation_name %}
                                        <p class='my-0'>{{user}}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class='align-middle'> {{op.operator}}</td>
                            <td class='align-middle'> {{op.created_at}}</td>
                            {% if op.active %}
                                <td class='align-middle'> In progress </td>
                            {% else %}
                                <td class='align-middle'> {{op.ended_at}} </td>
                            {%  endif %}

                            <td class='align-middle'>
                                {% if op.id in user_view_operation_ids %}
                                    <div>
                                        <form class='m-1' style='float: left;' method="post" action="{% url 'join_operation' operation_name=op.operation_name %}">
                                            {% csrf_token %}
                                            <button type="submit" title="View Operation" class="btn btn-sm btn-success" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i class="fa-solid fa-right-to-bracket"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <form class='m-1' style='float: left;' method="get" action="{% url 'chat_room_detail' pk=op.chat_id %}">
                                            <button type="submit" title="Live Chat" class="btn btn-sm btn-primary" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-comments"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <form class='m-1' style='float: left;' method="get" action="{% url 'live_stream_sessions' operation_name=op.operation_name %}">
                                            <button type="submit" title="View Live Stream Sessions" class="btn btn-sm btn-primary" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-video"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <form class='m-1' style='float: left;' method="get" action="{% url 'detection_sessions' operation_name=op.operation_name %}">
                                            <button type="submit" title="View Detection Sessions" class="btn btn-sm btn-primary" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-eye"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <form class='m-1' style='float: left;' method="get" action="{% url 'device_sessions' operation_name=op.operation_name %}">
                                            <button type="submit" title="View Device Sessions" class="btn btn-sm btn-primary" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-mobile-screen"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <form class='m-1' style='float: left;' method="get" action="{% url 'algorithms' operation_name=op.operation_name %}">
                                            <button type="submit" title="View Algorithms" class="btn btn-sm btn-primary" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-flask"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <form class='m-1' style='float: left;' method="get" action="{% url 'build_map_sessions' operation_name=op.operation_name %}">
                                            <button type="submit" title="Build Map Sessions" class="btn btn-sm btn-primary" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-map"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <form class='m-1' style='float: left;' method="get" action="{% url 'flying_reports' operation_name=op.operation_name %}">
                                            <button type="submit" title="View Flight Reports" class="btn btn-sm btn-primary" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-plane-circle-exclamation"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <form class='m-1' style='float: left;' method="get" action="{% url 'operation_report' operation_name=op.operation_name %}">
                                            <button type="submit" title="Generate Operation Report" class="btn btn-sm btn-primary" {% if not op.id in user_view_operation_ids %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-file-invoice"></i></button>
                                        </form>
                                    </div>
                                    {% if op.id in user_manage_operation_ids and op.active %}
                                        <div>
                                            <form class='m-1' style='float: left;' method="get" action="{% url 'edit_operation' operation_name=op.operation_name %}">
                                                <button type="submit" title="Edit Operation" class="btn btn-sm btn-warning" {% if not op.id in user_manage_operation_ids or not op.active %}disabled{% endif %}><i style="color:white;" class="fas fa-edit"></i></button>
                                            </form>
                                        </div>                                    
                                        <div>
                                            <form class='m-1' style='float: left;' method="get" action="{% url 'stop_operation' operation_name=op.operation_name %}" onsubmit="return confirm('Are you sure you want to stop the operation \'{{op.operation_name}}\'? This action is not reversible!');">
                                                <button type="submit" title="Stop Operation" class="btn btn-sm btn-danger" {% if not op.id in user_manage_operation_ids %}disabled{% endif %}><i class="fa-solid fa-stop"></i></button>
                                            </form>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div>Access Restricted</div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block script_block %}
    USE_ONLINE_MAPS = " {{ use_online_maps }}"
    $(document).ready(function(){
        $('#Table').dataTable();
    });
{% endblock %}

