{% extends "health_check.html" %}

{% load static %}

{% block title %}
Aiders - Admin Moniotring
{% endblock %}

{% block head_block %}
<meta charset="UTF-8">
<script src="{% static 'libs/cdn/cdnjs.cloudflare.com_ajax_libs_moment.js_2.24.0_moment.min.js' %}"></script>
<script src="{% static 'libs/chart/cdn.jsdelivr.net_npm_chart.js' %}"></script>
<link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet">
<script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">Drones</h3>
    </div>
<div class="row mb-5">
    <div class="col-sm" style="color: black">
        <div><br/></div>
            <table id="Table" class="table table-striped">
            <thead>
            <tr>
                <th> ID</th>
                <th> Drone Name</th>
                <th> Model</th>
                <th> Camera Model</th>
                <th> Operation</th>
                <th> Connected</th>
                <th style="width: 10%"> Actions</th>

            </tr>
            </thead>
            <tbody>
                {% if available_drones %}
                    {% for drone in available_drones %}
                        <tr>
                            <td class='align-middle'> {{drone.id}}</td>
                            <td class='align-middle'> {{drone.drone_name}}</td>
                            <td class='align-middle'> {{drone.model}}</td>
                            <td class='align-middle'> {{drone.camera_model}}</td>
                            <td class='align-middle'> {{drone.operation}}</td>
                            <td class='align-middle'> {{drone.is_connected_with_platform}}</td>
                            <td>
                                <div>
                                    <form class='m-1' style='float: left;' method="post" action="{% url 'control_device_monitoring' control_device=drone.drone_name %}">
                                        {% csrf_token %}
                                        <button type="submit" title="Moniotring Drone" class="btn btn-success" 
                                        ><i class="fa-solid fa-heart-pulse"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% comment %} <div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">Platform</h3>
    </div>           
            {% comment %} <div style="width: 33%; float:left"><div class="text-center fs-5">CPU %</div><canvas id="line-chart-cpu"></div></canvas>
            <div style="width: 33%; float:left"><div class="text-center fs-5">GPU %</div><canvas id="line-chart-gpu"></div></canvas>
            <div style="width: 33%; float:left"><div class="text-center fs-5">RAM %</div><canvas id="line-chart-ram"></div></canvas>
            <div style="width: 33%; float:left"><div class="text-center fs-5">Temperature</div><canvas id="line-chart-temp"></div></canvas>
            <div style="width: 33%; float:left"><div class="text-center fs-5">Disk (MB/s)</div><canvas id="line-chart-disk"></div></canvas>
            <div style="width: 33%; float:left"><div class="text-center fs-5">Network (MB/s)</div><canvas id="line-chart-net"></div></canvas>
    </div> {% endcomment %}
{% comment %} <script src="{% static 'aiders/javascripts/monitoring-platform.js' %}" type="text/javascript"></script> {% endcomment %}
{% endblock %}

{% block script_block %}
$(document).ready(function(){

    $('#Table').dataTable();
    });
{% endblock %}