<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body style="background-color: #222;">
    <div style="width: 100%; text-align: center;">
        <h1 style="color: white; font-size: 22px;">{{stream_type|capfirst}} Stream: {{drone.drone_name}} (session #{{session_id}})</h1>
        <canvas id="canvas" width="1280" height="720"></canvas>
        <table style="width: 100%; color: white; font-size: 12px;">
            <tr>
                <td width="33%" style="text-align: center">File path: <span id="filename"></span></td>
                <td width="33%" style="text-align: center">Timestamp: <span id="datetime"></span></td>
                <td style="text-align: center">Frame #: <span id="currentFrameIndex"></span>/{{ frames|length }}</td>
            </tr>
        </table>
        
        <div id="slider" style="margin: 15px; background-color: orange;"></div>
        <div style="width: 100%; text-align: center;">
            <button id="play">Play</button>
            <button id="pause">Pause</button>
        </div>
    </div>

    <script>
        var framesFromDjango = [{{ frames|safe }}];
        framesFromDjango = framesFromDjango[0]
        var images = [];
        var imagePaths = [];
        var times = [];
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        var interval;
        var isPlaying = false;

        // loop images and create array of image paths and timestamps
        for (var i = 0; i < framesFromDjango.length; i++) {
            imagePaths.push(framesFromDjango[i].frame);
            times.push(framesFromDjango[i].time);
            if (i == framesFromDjango.length - 1) {
                drawImage(0); // load first image
            }            
        }

        // Draw image function
        function drawImage(index) {
            var img = new Image();
            img.onload = function() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                var date = new Date(times[index]);
                var formattedTime = date.toLocaleString();
                $('#datetime').html(formattedTime);
                $('#filename').html(imagePaths[index]);
                $('#currentFrameIndex').html(index);
            }
            img.src = imagePaths[index];
        }

        // Initialize slider
        $("#slider").slider({
            min: 0,
            max: framesFromDjango.length - 1,
            slide: function(event, ui) {
                drawImage(ui.value);
                clearInterval(interval);
                isPlaying = false;                
            }
        });

        // Play button
        $('#play').click(function() {
            if (isPlaying) {
                console.log('Already playing');
                return;
            }
            isPlaying = true;
            interval = setInterval(function() {
                var val = $('#slider').slider("value");
                $('#slider').slider("value", val + 1);
                drawImage(val); // Draw the image after changing the slider value
                if (val >= framesFromDjango.length - 1) {
                    clearInterval(interval);
                    isPlaying = false;
                }
            }, 250);
        });

        // Pause button
        $('#pause').click(function() {
            clearInterval(interval);
            isPlaying = false;
        });
    </script>
</body>
</html>