{% extends "base.html" %} {% load static %} {% block title %} Aiders - Users {% endblock %} {% block head_block %}

<link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet" />
<script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
{% endblock %} {% block body_block %}

<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">Users</h3>
        {% if perms.aiders.manage_users %}
            <div class="col">
                <a class="btn btn-primary float-end mx-1" href="{% url 'users_permissions_view' %}">
                    <i class="fa-solid fa-key "></i>
                    User Permissions
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row mb-5">
        <div class="col-sm" style="color: black">
            <div><br /></div>

            <table id="Table" class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Username</th>
                        <th>First Name</th>

                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Joined Operation</th>
                        <th>Created At</th>
                        <th>Last Login</th>
                        {% comment %} <th class="text-center">Is Active</th> {% endcomment %}
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if users %} {% for user in users %}
                    <tr {% if not user.is_active %} style="background-color: #fcc;"{% endif %}>
                        <td class="align-middle text-center">{{user.id}}</td>
                        <td class="align-middle">{{user.username}}</td>
                        <td class="align-middle">{{user.first_name}}</td>
                        <td class="align-middle">{{user.last_name}}</td>
                        <td class="align-middle">{{user.email}}</td>
                        <td class="align-middle">{{user.joined_operation}}</td>
                        <td class="align-middle">{{user.date_joined}}</td>
                        <td class="align-middle">{{user.last_login}}</td>
                        {% comment %} <td class="align-middle text-center">
                            {% if user.is_active %}
                                <i class="fas fa-check-circle" style="color: green;"></i>
                            {% else %}
                                <i class="fas fa-times-circle" style="color: red;"></i>
                            {% endif %}
                        </td> {% endcomment %}
                        <td class="align-middle text-center">
                            <div>
                                {% if user.is_active %}
                                    <form class='m-1' method="get" action="{% url 'deactivate_user_account' user_id=user.id %}" onsubmit="return confirm('Deactivate account of user \'{{user.username}}\'?');">
                                        <button type="submit" title="Deactivate Account" class="btn btn-danger"><i class="fa-solid fa-ban"></i></button>
                                    </form>
                                {% else %}
                                    <form class='m-1' method="get" action="{% url 'activate_user_account' user_id=user.id %}" onsubmit="return confirm('Activate account of user \'{{user.username}}\'?');">
                                        <button type="submit" title="Activate Account" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %} {% block script_block %} $(document).ready(function(){ $('#Table').dataTable(); }); {% endblock %}
