[mysqld]

max_connections = 1000
innodb_log_file_size = 256M

# Steps to change innodb_log_file_size
# 1. Stop MySQL server
# 2. Remove existing log files (e.g., ib_logfile0, ib_logfile1)
# 3. Update innodb_log_file_size in the MySQL configuration file
# 4. Start MySQL server


# logging
# general_log = 1
# general_log_file = /var/log/mysql/query.log