.git
venvm
TEMPORARY_PHOTO_SCRIPT
djiswarmcatkinws/build
djiswarmcatkinws/devel
.idea
Useful_Information
License
cmds.txt
Starter_Script/buildmap
Starter_Script/ms_buildmap
Starter_Script/testing_scripts
Starter_Script/output
docker_compose_production
django_api/results_TM
django_api/aiders/media
