{% extends "base.html" %}

{% load static %}

{% block title %}
Aiders - Permissions
{% endblock %}

{% block head_block %}

    <link href="{% static 'libs/jquery-ui/http_ajax.googleapis.com_ajax_libs_jqueryui_1.12.1_themes_smoothness_jquery-ui.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery-ui/http_ajax.googleapis.com_ajax_libs_jqueryui_1.12.1_jquery-ui.js' %}"></script>
    <link href="{% static 'libs/jquery.mCustomScrollbar/__malihu.github.io_custom-scrollbar_jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/jquery-ui/__code.jquery.com_ui_1.12.1_themes_base_jquery-ui.css' %}" rel="stylesheet">
    <script src="{% static 'libs/hls/http_cdn.jsdelivr.net_npm_hls.js@1.2.0.js' %}"></script>

    <link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
    <script src="{% static 'aiders/dist/multiselect.js' %}"></script>
    <script src="{% static 'aiders/javascripts/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/dutils.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/dutils.conf.urls.example.js' %}" type="text/javascript"></script>
{% endblock %}


{% block body_block %}

<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">Permissions</h3>
    </div>
    <div class="row mb-5">
        <div class="col-sm" style="color: black">
            <form method="POST" enctype="multipart/ form-data">
                {% csrf_token %}
            <form action = "{% url 'manage_permissions' %}" method = "POST">
                {% csrf_token %}

                <div><br/></div>
                <table id="algorithmsTable" class="table table-striped">
                <thead>
                <tr>
                    <th> ID</th>
                    <th> User</th>
                    <th> Edit Permittions</th>
                    <th> Create Operations</th>
                    <th> Join Operations</th>
                </tr>
                </thead>
                <tbody>
                    {% if users %}

                    {% for user in users %}
                    <tr>
                        <input type="hidden" id="data" name="data" value="{{user}}">
                        <td> {{user.id}}<input type="hidden" id="id" name="id" value="{{user.id}}"></td>
                        <td> {{user.username}}<input type="hidden" id="username" name="username" value="{{user.username}}"></td>
                        <td><input type="checkbox" name="permission_edit_permissions" {% if user.permission_edit_permissions %} checked {% endif %} value="{{user.id}}"></td>
                        <td><input type="checkbox" name="permission_create_operations" {% if user.permission_create_operations %} checked {% endif %} value="{{user.id}}"></td>
                        <td>
                            <button id='{{user.username}}' class="permissionBtn btn btn-warning" type="button" onclick='edit_user_operation(this.id,"{% for group in user.groups.all %}{% if 'operation join' in group.name %}{{group.name}}{% endif %}{% endfor %}")'><span><i style="color:white;" class="fas fa-edit"></i></span></button>
                        </td> 
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
                </table>
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-primary ">Save Permissions</button>
            </div>
            </form>

        </div>
    </div>
</div>
<div id="csrf">
    {% csrf_token %}
</div>
<div class='operation_pop_up'>
<div id="dialog">

</div>
</div>
<script>
    all_groups="{{all_groups|safe}}"
</script>
<script src="{% static 'aiders/javascripts/manage_permissions.js' %}"></script>
{% endblock %}

{% block script_block %}
$(document).ready(function(){
    $('#algorithmsTable').dataTable();
});
{% endblock %}
