{% extends "base.html" %}

{% load static %}
{% load guardian_tags %}

{% block title %}
Aiders - Operations
{% endblock %}


{% block head_block %}

    <link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
    <script src="{% static 'aiders/javascripts/constants.js' %}"></script>
{% endblock %}


{% block body_block %}


<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">Operations</h3>
        <div class="col">
            <a class="btn btn-primary float-end mx-1 {% if not perms.aiders.edit_permissions %}disabled{% endif %}" href="{% url 'manage_permissions' %}">
                <i class="far fa-plus-square "></i>
                Edit Permissions
            </a>
            <a class="btn btn-primary float-end mx-1 {% if not perms.aiders.create_operations %}disabled{% endif %}" href="{% url 'new_operation' %}">
                <i class="far fa-plus-square "></i>
                New Operation
            </a>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm" style="color: black">
            <div><br/></div>

                <table id="operationsTable" class="table table-striped">
                <thead>
                <tr>
                    <th> ID</th>
                    <th> Created</th>
                    <th> Ended at</th>

                    <th> Operator</th>
                    <th> Operation Name</th>
                    <th> Joined Users</th>
                    <th style="width: 21%"> Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if operations %}
                    {% for op in operations %}
                        <tr>
                            <td class='align-middle'> {{op.id}}</td>
                            <td class='align-middle'> {{op.created_at}}</td>
                            {% if op.active %}
                                <td class='align-middle'> In progress </td>
                            {% else %}
                                <td class='align-middle'> {{op.ended_at}}</td>
                            {%  endif %}

                            <td class='align-middle'> {{op.operator}}</td>
                            <td class='align-middle'> {{op.operation_name}}</td>
                            <td class='align-middle'>    
                                {% for user in users %}
                                    {% if user.joined_operation.operation_name  == op.operation_name %}
                                        <p class='my-0'>{{user}}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td>
                                <div>
                                    <form class='m-1' style='float: left;' method="post" action="{% url 'join_operation' operation_name=op.operation_name %}">
                                        {% csrf_token %}
                                        {% get_obj_perms request.user for op as "permission_list" %}
                                        <button type="submit" title="Join Operation" class="btn btn-success" {% if not "join_operation" in permission_list or not op.active %}disabled{% endif %}><i class="fa-solid fa-right-to-bracket"></i></button>
                                    </form>
                                </div>
                                <div>
                                    <form class='m-1' style='float: left;' method="get" action="{% url 'edit_operation' operation_name=op.operation_name %}">
                                        {% get_obj_perms request.user for op as "permission_list" %}
                                        <button type="submit" title="Edit Operation" class="btn btn-warning" {% if not "edit_operation" in permission_list or not op.active %}disabled{% endif %}><i style="color:white;" class="fas fa-edit"></i></button>
                                    </form>
                                </div>
                                <div>
                                    <form class='m-1' style='float: left;' method="get" action="{% url 'algorithms' operation_name=op.operation_name %}">
                                        <button type="submit" title="View Algorithms" class="btn btn-primary" {% if not "join_operation" in permission_list %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-flask"></i></button>
                                    </form>
                                </div>
                                <div>
                                    <form class='m-1' style='float: left;' method="get" action="{% url 'flying_report' operation_name=op.operation_name %}">
                                        <button type="submit" title="View Fligth Report" class="btn btn-primary" {% if not "join_operation" in permission_list %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-highlighter"></i></button>
                                    </form>
                                </div>
                                <div>
                                    <form class='m-1' style='float: left;' method="get" action="{% url 'replay_mission' operation_name=op.operation_name %}">
                                        <button type="submit" title="View Replayed Mission" class="btn btn-primary" {% if not "join_operation" in permission_list or not op.active %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-map-location-dot"></i></button>
                                    </form>
                                </div>
                                <div>
                                    <form class='m-1' style='float: left;' method="get" action="{% url 'build_map_sessions' operation_name=op.operation_name %}">
                                        <button type="submit" title="Share Build Map Sessions" class="btn btn-primary" {% if not "join_operation" in permission_list  %}disabled{% endif %}><i style="color:white;" class="fa-solid fa-share-nodes"></i></button>
                                    </form>
                                </div>
                                <div>
                                    <form class='m-1' style='float: left;' method="get" action="{% url 'stop_operation' operation_name=op.operation_name %}">
                                        <button type="submit" title="Stop Operation" class="btn btn-danger" {% if not op.active %}disabled{% endif %}><i class="fa-solid fa-stop"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block script_block %}
    USE_ONLINE_MAPS = " {{ use_online_maps }}"
    $(document).ready(function(){
        $('#operationsTable').dataTable();
    });
{% endblock %}

