{% extends "base.html" %}

{% load static %}
{% load tags %}

{% block title %}
Aiders - Missions
{% endblock %}


{% block head_block %}

    <link href="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_css_jquery.dataTables.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery.dataTables/http_cdn.datatables.net_1.10.2_js_jquery.dataTables.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">{{operation_name}} Missions</h3>
    </div>
    <div class="row mb-5">
        <div class="col-sm" style="color: black">
            <div><br/></div>

            <table id="missionsTable" class="table table-striped">
                <thead>
                <tr>

                    <th>ID</th>
                    <th>Mission Type</th>
                    <th>Executed Time</th>
                    <th>Completed</th>
                    <th>Grid</th>
                    <th>Capture And Store Images</th>
                    <th>User</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                {% if mission_results %}
                {% for mission_log in mission_results %}
                <tr>

                    <td class='align-middle'> {{mission_log.mission.id}}</td>
                    <td class='align-middle'> {{mission_log.mission.mission_type|removeUnderScore|title}}</td>
                    <td class='align-middle'> {{mission_log.executed_at}}</td>
                    <td class='align-middle'> {{mission_log.mission.mission_completed}}</td>
                    <td class='align-middle'> {{mission_log.mission.grid}}</td>
                    <td class='align-middle'> {{mission_log.mission.captureAndStoreImages}}</td>
                    <td class='align-middle'> {{mission_log.user}}</td>
                    <td class='align-middle'>
                        <div>
                            <form class='m-1' style='float: left;' method="get" action="{% url 'replay_mission_engine' operation_name=operation_name mission_id=mission_log.mission.id %}">
                                {% csrf_token %}
                                <button type="submit" title="Join Operation" class="btn btn-success"><i class="fa-solid fa-right-to-bracket"></i></button>
                            </form>
                        </div>
                </tr>
                {% endfor %}
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block script_block %}

    $(document).ready(function(){
        $('#missionsTable').dataTable();
    });

{% endblock %}
