{% extends "health-check.html" %}

{% load static %}

{% block title %}
Aiders - Admin Moniotring
{% endblock %}

{% block head_block %}
<meta charset="UTF-8">

<script src="{% static 'libs/cdn/cdnjs.cloudflare.com_ajax_libs_moment.js_2.24.0_moment.min.js' %}"></script>
<script src="{% static 'libs/chart/cdn.jsdelivr.net_npm_chart.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="justify-content-center ms-5 me-5 footer-margin header-margin">
    <div class="row pt-5">
        <h3 class="col float-start">Control Device on {{drone_name}}</h3>
    </div>
    <div class="align-items-center justify-content-center">     
            <div class="ps-5" style="width: 45%; float:left"><div class="text-center fs-5">CPU %</div><canvas id="line-chart-cpu"></div></canvas>
            <div class="ps-5" style="width: 45%; float:left"><div class="text-center fs-5">GPU %</div><canvas id="line-chart-gpu"></div></canvas>
            <div class="ps-5" style="width: 45%; float:left"><div class="text-center fs-5">RAM %</div><canvas id="line-chart-ram"></div></canvas>
            <div class="ps-5" style="width: 45%; float:left"><div class="text-center fs-5">Temperature</div><canvas id="line-chart-temp"></div></canvas>
    </div>
</div>
<script>
    var drone_name = "{{drone_name}}"
</script>
<script src="{% static 'aiders/javascripts/monitoring-control-devices.js' %}" type="text/javascript"></script>
{% endblock %}

{% block script_block %}
{% endblock %}