{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Aiders - New Operation
{% endblock %}

{% block head_block %}
    {{ form.media }}
    <link href="{% static 'libs/font-awesome/css/all.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js' %}"></script>
    <script src="{% static 'libs/bootstrap/http_maxcdn.bootstrapcdn.com_bootstrap_4.5.0_js_bootstrap.js' %}"></script>
    <script src="{% static 'aiders/dist/multiselect.js' %}"></script>
    <link rel="stylesheet" href="{% static 'aiders/css/operation_wizard.css' %}">
{% endblock %}


{% block body_block %}
    <div class="justify-content-center ms-5 me-5 footer-margin header-margin"   >
        <div class="row pt-4 pb-0">
            <div class="row">


                <h3 class="col float-start"> {% include 'aiders/errors.html' %}</h3>
            </div>
            <form method="post" class='form_box position-absolute top-50 start-50 translate-middle fade-item' enctype="multipart/form-data" >
                {% csrf_token %}
                <table class="d-flex justify-content-center ps-5">
                    <p style= "font-size: 20px" class= "text-center my-3"> <b>Create New Operation</b></p>
                    {{ wizard.management_form }}
                    <p class= "text-center my-3">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} -  Fill in the details for the new operation. </p>
                    {% for form_field in wizard.form %}
                        {% if wizard.steps.step1  == 2%}
                            <tr>
                                <p class= "text-center my-0">Select the {{form_field.label}} <b>that are allowed to join </b> this operation <b>if they attempt to</b><br><br></p>
                            </tr>
                            <tr>
                                <div class="container d-inline-block d-flex justify-content-center" style="width:900px;" >
                                    <div class="row" style="height: 280px;">
                                        <div class="col h-75" style="width:600px;">
                                            <p class= "text-center my-0">ALL {{form_field.label}}</p>
                                            <select name="{{form_field.label}} out" id="lstview{{forloop.counter}}" class="form-control formcls h-75" size="13" multiple="multiple">
                                                {% if edit_form %}
                                                    {% if form_field.label == "Drones" %}
                                                        {% for data in drones_all %}
                                                            <option value={{data.id}}>{{data}}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for data in users_all %}
                                                            <option value={{data.id}}>{{data}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% else %}
                                                    {% for data in form_field %}
                                                        {% if not forloop.first %}
                                                            {{ data }}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                            </select>
                                        </div>
                                        <div class="d-grid gap-2 col-2 mx-auto pt-5" style="height: 150px;">
                                            <button type="button" id="lstview{{forloop.counter}}_rightAll" class="btn btn-primary btn-block"><i class="fa-solid fa-angles-right"></i></button>
                                            <button type="button" id="lstview{{forloop.counter}}_rightSelected" class="btn btn-success btn-block"><i class="fa-solid fa-angle-right"></i></i></button>
                                            <button type="button" id="lstview{{forloop.counter}}_leftSelected" class="btn btn-success btn-block"><i class="fa-solid fa-angle-left"></i></i></button>
                                            <button type="button" id="lstview{{forloop.counter}}_leftAll" class="btn btn-primary btn-block"><i class="fa-solid fa-angles-left"></i></button>
                                        </div>
                                        <div class="col h-75" style="width:600px;">
                                            <p class= "text-center my-0">ALLOWED {{form_field.label}}</p>
                                            <select name="{{form_field.label}} in" id="lstview{{forloop.counter}}_to" class="form-control formcls h-75" size="13" multiple="multiple">
                                                {% if edit_form %}
                                                    {% if form_field.label == "Drones" %}
                                                        {% for data in drones_allow %}
                                                            <option value={{data.id}}>{{data}}</option>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for data in users_allow %}
                                                            <option value={{data.id}}>{{data}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    {% if form_field.label == "Drones" %}
                                    <div id="check_box_drone" class='text-center'>
                                        <input id='drone_operation' type="checkbox" name='drone_operation' value='True'></input>
                                        <label for="drone_operation"> The selected drone will register with the current operation.</label>
                                    </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="px-3 py-3">
                                    {{form_field.label}}
                                </td>
                                <td class="px-3 py-3">
                                    {{ form_field }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <div class="d-flex justify-content-center pb-2">
                    {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" class="btn btn-primary"  type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
                        &emsp;&emsp;&emsp;
                        <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}"/>

                    {% else %}
                        <input type="submit" class="btn btn-primary" value="{% trans "Next" %}"/>

                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#lstview1').multiselect({
                search: {

                    left: '<input type="text" name="q" autocomplete="off" class="form-control" placeholder="Search..." />',

                    right: '<input type="text" name="q" autocomplete="off" class="form-control" placeholder="Search..." />',

                    }
            });
            $('#lstview2').multiselect({
                search: {

                    left: '<input type="text" name="q" autocomplete="off" class="form-control" placeholder="Search..." />',

                    right: '<input type="text" name="q" autocomplete="off" class="form-control" placeholder="Search..." />',

                    }
            });

        });

        {% comment %} add in order to run the Google Map Point Field Widget {% endcomment %}

        $(document).on("google_point_map_widget:marker_create", function (e, place, lat, lng, locationInputElem, mapWrapID) {
            console.log(place); // Google geocoding response object
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng); // created marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        });
        $(document).on("google_point_map_widget:marker_change", function (e, place, lat, lng, locationInputElem, mapWrapID) {
            console.log(place); // Google geocoding response object
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng);  // changed marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        });
        $(document).on("google_point_map_widget:marker_delete", function (e, lat, lng, locationInputElem, mapWrapID) {
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng);  // deleted marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        })

        </script>
{% endblock %}