<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>AIDERS - Mission Replay</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'aiders/imgs/aiders_logo_no_background.png' %}">

    <script src="{% static 'libs/jquery/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js' %}"></script>

    <link href="{% static 'libs/bootstrap/http_maxcdn.bootstrapcdn.com_bootstrap_4.5.0_css_bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'libs/bootstrap/http_maxcdn.bootstrapcdn.com_bootstrap_4.5.0_js_bootstrap.js' %}"></script>


    <link href="{% static 'libs/jquery-ui/http_ajax.googleapis.com_ajax_libs_jqueryui_1.12.1_themes_smoothness_jquery-ui.css' %}" rel="stylesheet">
    <script src="{% static 'libs/jquery-ui/http_ajax.googleapis.com_ajax_libs_jqueryui_1.12.1_jquery-ui.js' %}"></script>

    <link href="{% static 'libs/jquery.mCustomScrollbar/__malihu.github.io_custom-scrollbar_jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">

    <link href="{% static 'libs/jquery-ui/__code.jquery.com_ui_1.12.1_themes_base_jquery-ui.css' %}" rel="stylesheet">

    <script src="{% static 'libs/hls/http_cdn.jsdelivr.net_npm_hls.js@1.2.0.js' %}"></script>


    <link href="{% static 'libs/font-awesome/css/all.css' %}" rel="stylesheet">

    <script src="{% static 'libs/popper/http_cdnjs.cloudflare.com_ajax_libs_popper.js_1.14.6_umd_popper.js' %}"></script>

    <script src="{% static 'libs/jquery.mCustomScrollbar.concat/__malihu.github.io_custom-scrollbar_jquery.mCustomScrollbar.concat.min.js' %}"></script>


    <script src="{% static 'libs/turf/http_api.tiles.mapbox.com_mapbox.js_plugins_turf_v3.0.11_turf.min.js' %}"></script>
    <script src="{% static 'libs/turf/http_npmcdn.com_@turf_turf@5.1.6_turf.js' %}"></script>

    <link href="{% static 'libs/bootstrap4-toggle/http_cdn.jsdelivr.net_gh_gitbrent_bootstrap4-toggle@3.6.1_css_bootstrap4-toggle.css' %}" rel="stylesheet">
    <script src="{% static 'libs/bootstrap4-toggle/http_cdn.jsdelivr.net_gh_gitbrent_bootstrap4-toggle@3.6.1_js_bootstrap4-toggle.js' %}"></script>

    <link href="{% static 'libs/watergis/watergis.github.io_maplibre-gl-export_maplibre-gl-export.css' %}" rel="stylesheet">
    <script src="{% static 'libs/watergis/unpkg.com_maplibre-gl@1.15.2_dist_maplibre-gl' %}"></script>
    <script src="{% static 'libs/watergis/watergis.github.io_maplibre-gl-export_maplibre-gl-export.js' %}"></script>

    {% load static %}
    {% load tz %}
    {% load crispy_forms_tags %}
    <script src="{% static 'aiders/sidebar/js/main.js' %}"></script>
    <!--    <script src="sidebar/js/main.js"></script>-->
    <link href="{% static 'aiders/sidebar/css/main.css' %}" rel="stylesheet">
    <!--    <link href="sidebar/css/main.css" rel="stylesheet">-->
    <!--    <link href="sidebar/css/sidebar-themes.css" rel="stylesheet">-->
    <link href="{% static 'aiders/sidebar/css/sidebar-themes.css' %}" rel="stylesheet">

    <script src="{% static 'aiders/dist/threebox.js' %}" type="text/javascript"></script>
    <link href="{% static 'aiders/dist/threebox.css' %}" rel="stylesheet" />
    <script src="{% static 'aiders/dist/threebox.js' %}" type="text/javascript"></script>
    <link href="{% static 'aiders/dist/threebox.css' %}" rel="stylesheet" />

    <script src="{% static 'libs/maplibre-gl/http_unpkg.com_maplibre-gl@1.15.2_dist_maplibre-gl.js' %}"></script>
    <link href="{% static 'libs/maplibre-gl/http_unpkg.com_maplibre-gl@1.15.2_dist_maplibre-gl.css' %}" rel="stylesheet">


    <script src="{% static 'libs/deck.gl/http_unpkg.com_deck.gl@8.7.11_dist.min.js' %}"></script>


    <link href="{% static 'aiders/index.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'aiders/dist/video-js.css' %}" rel="stylesheet">
    <script src="{% static 'aiders/dist/video.js' %}"></script>
    <script src="{% static 'aiders/javascripts/constants.js' %}" type="text/javascript"></script>

    <link href="{% static 'aiders/index.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
    <div id="videoLoading" class="center-element" style=" display:none; width: fit-content;height: fit-content position:relative;top: 39%;left: 50%;">
        <img style="width:100px;height: 100px" src="{% static 'aiders/video_loading.gif' %}"/>
    </div>
    <div id="csrf">
        {% csrf_token %}
    </div>
    
    <!--<pre id="info"></pre>-->
    <div class="calculation-box1" style="display:none;" id="calculation-box-div1">
        <h3 style="font-size:15px; display: inline; ">Area of the selected points:</h3>
    
        <div id="calculated-area1">Null</div>
    
        <h3 style="font-size:15px;">Length of the selected points:</h3>
    
        <div id="calculated-area2">Null</div>
    </div>

    <script>
        var CURRENT_OP = "{{ operation_name| safe }}"
        var USE_ONLINE_MAPS =  ("{{use_online_map}}" === 'True');
    </script>
    <div id="map" style="height:93%;"></div>
    <div class="center-element alert alert-warning fade in alert-dismissible show" id="failureBox" style="display: none">
    </div>
    
    <div class="center-element alert alert-success fade in alert-dismissible show" id="successBox" style="display: none">
    </div>
    
    <div class="geocoder" id="geocoder"></div>

    <div id="clickInfoBox" class="clickInfoBox" style="display:none">
        <div> <b>Click Anywhere on the map! </b></div>
        <div><b>Longitude: </b><span id='lng'></span></div>
        <div><b>Latitude: </b> <span id='lat'></span></div>
        <div><b>Highest Elevation: </b> <span id='ele'></span></div>
        <div><b>Radius: </b><span id='rad'></span></div>
        <div><b>Buildings: </b><span id='blds'></span></div>
        <div><b>Roads: </b> <span id='rds'></span></div>
    </div>


    <div id="weatherDataBox" class="weatherDataBox" style="display:none">
        <div> <b>Weather Station #1 </b></div>
        <div> <b>Real-Time Weather Information </b></div>
        <div><b>Time: </b> <span id='time1'></span></div>
        <div><b>Wind Direction: </b> <span id='wDir'></span></div>
        <div><b>Wind Speed:</b> <span id='wSpeed'></span></div>
        <div><b>Temperature: </b> <span id='temp'></span></div>
        <div><b>Pressure: </b><span id='press'></span></div>
        <div><b>Humidity: </b><span id='humidity'></span></div>
        <div><b>Heading: </b><span id='heading'></span></div>
    </div>
    
    <div id="Drone1" class="droneDataBox" style="display: none;">
    </div>
    <div id="Drone2" class="droneDataBox" style="display: none;">
    </div>
    <div id="Drone3" class="droneDataBox" style="display: none;">
    </div>
    <div id="Drone4" class="droneDataBox" style="display: none;">
    </div>
    <div id="Drone5" class="droneDataBox" style="display: none;">
    </div>
    <div id="Drone6" class="droneDataBox" style="display: none;">
    </div>
    <div class="buildingsInfoBox"></div>



<!--====================================================================================================================================================-->
<div class="page-wrapper default-theme sidebar-bg bg1 toggled">
    <nav class="sidebar-wrapper" id="sidebar" style="height:98%;">
        <div class="sidebar-content" id="sidepanel">
            <!-- sidebar-brand  -->
            <div class="sidebar-item sidebar-brand">
                <a href="#">AIDERS PLATFORM REPLAY</a>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-item sidebar-header d-flex flex-nowrap">

                {% if user.is_authenticated %}


                <div class="user-pic">
                        <img alt="User picture" class="img-responsive img-rounded" src="{% static 'aiders/imgs/aiders_logo_no_background.png' %}">

                    </div>

                {% endif %}
                <div class="user-info">
                
                    {% if user.is_authenticated %}
                        Hi {{ user.username }}!
                        <p><a href="{% url 'logout' %}">Log Out</a></p>
                        <a href="{% url 'replay_mission' operation_name=operation_name %}" >
                            <button type="button" class="btn btn-primary btn-sm" style="font-size: 0.8em;">Missions Panel</button>
                        </a>
                        {% else %}
                        <p>You are not logged in</p>
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <table>
                                    <tr>

                                    <td>{{ auth_form.username.label_tag }}</td>
                                    <td>{{ auth_form.username }}</td>
                                    </tr>
                                    <tr>
                                    <td>{{ auth_form.password.label_tag }}</td>
                                    <td>{{ auth_form.password }}</td>
                                    </tr>
                                </table>

                                    {% include 'aiders/messages.html' %}

                                <input type="submit" value="login" />
                                <input type="hidden" name="next" value="{{ next }}" />
                                </form>
                    {% endif %}

                    </div>
                    
                </div>
                {% if operation is not None %}
                <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                <table >
                                 <tr>

                                   <td><b>Operation: </b> </td>
                                   <td>{{ operation.operation_name }}</td>
                                 </tr>
                                 <tr>

                                   <td><b>Drone: </b> </td>

                                   <td>{{mission_drone}} <span id="valBox"></span></td>
<!--                                        <td>{{operation.created_at|timezone:"Africa/Cairo"}}</td>-->
<!--                                         <td><b>Duration:</b></td>-->

                                 </tr>
                                 
                </table>

<!--                    <p>Started At: {{operation.created_at}}</p>-->
               </div>
               {% endif %}
               <div class=" sidebar-item sidebar-menu">

                <ul>
                    <li class="header-menu">
                        <span>Command & Control</span>
                    </li>
                    <li  id='uav-missions-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tasks"></i>
                            <span class="menu-text">UAV Missions</span>

                        </a>


                        <div id='uav-missions-ui-side' class="sidebar-submenu">
                            <ul id="drone-selection-list">
                                <m4> Select Drones</m4>
                                <!--                                <li id="no-drones-list" style="color: white">-->
                                <!--                                     No Available Drones Yet!-->
                                <!--                                </li>-->

                            </ul>
                            <ul id="monitor-points-list">
                                <m4> Monitor Points</m4>
                                <li>
                                    <m1> Click & Go</m1>
                                    <m3>
                                        <button aria-pressed="false" class="btn btn-outline-warning panel-btn msn" id="clickSelect"
                                                type="button">SELECT
                                        </button>

                                        <button class="btn btn-outline-success panel-btn msn" id="clickGo" type="button">GO</button>
                                        <button class="btn btn-outline-danger panel-btn msn" id="clickCancel" type="button">CANCEL
                                        </button>
                                        <!--                                        <button class="btn btn-outline-primary" id="clickPause" type="button">PAUSE</button>-->

                                    </m3>
                                </li>




                            </ul>

                            <m4> Build Map</m4>
                            <ul id="uav-build-map-list">
                                <li>
                                    <m1>Select Overlap</m1>
                                    
                                    <m2 class="px-3">
                                        <span id="overlapValue" style="color:white">50</span>
                                        <span style="color:white">%</span>
                                    </m2>
                                    <input type="range" style="width:240px;" class="form-range mx-2" id="vol" name="vol" min="0" max="99" value="50" onInput="$('#overlapValue').html($(this).val())">
                                </li>

                                <li>
                                    <m1> Start Build Map</m1>
                                    <m2>
                                        <button aria-pressed="false" class="btn btn-outline-success panel-btn bldmp" id="startBuildMapBtn" type="button">START </button>

                                        <button class="btn btn-outline-danger panel-btn bldmp" id="stopBuildMapBtn" type="button">STOP
                                        </button>
                                    </m2>
                                </li>

                                <li>
                                    <m1> Load Build Map</m1>
                                    <m2>
                                        <button aria-pressed="false" class="btn btn-outline-success panel-btn bldmp" id="loadBuildMapBtn" type="button" >LOAD</button>

                                        <button aria-pressed="false" class="btn btn-outline-danger panel-btn bldmp" id="clearBuildMapBtn"
                                                type="button">CLEAR
                                        </button>
                                        <!--                                        <button class="btn btn-outline-danger" id="stopBuildMapBtn" type="button">STOP-->
                                        </button>
                                    </m2>
                                </li>

                            </ul>


                            <!--                            COMMENTED OUT JUST FOR THE DOCKER USAGE-->
                            <!--                            <m4> Multispectral Build Map</m4>-->
                            <!--                            <ul id="uav-multispectral-build-map-list">-->

                            <!--                                <li>-->
                            <!--                                    <m1> Start Build Map</m1>-->
                            <!--                                    <m2>-->
                            <!--                                        <button aria-pressed="false" class="btn btn-outline-success" id="startSpectralBuildMapBtn"-->
                            <!--                                                type="button">START-->
                            <!--                                        </button>-->

                            <!--                                        <button class="btn btn-outline-danger" id="stopSpectralBuildMapBtn" type="button">STOP-->
                            <!--                                        </button>-->
                            <!--                                    </m2>-->
                            <!--                                </li>-->

                            <!--                                <li>-->
                            <!--                                    <m1> Load Build Map</m1>-->
                            <!--                                    <m2>-->
                            <!--                                        <button aria-pressed="false" class="btn btn-outline-success" id="loadSpectralBuildMapBtn"-->
                            <!--                                                type="button">LOAD-->
                            <!--                                        </button>-->

                            <!--                                        <button aria-pressed="false" class="btn btn-outline-danger" id="clearSpectralBuildMapBtn"-->
                            <!--                                                type="button">CLEAR-->
                            <!--                                        </button>-->
                            <!--                                        &lt;!&ndash;                                        <button class="btn btn-outline-danger" id="stopBuildMapBtn" type="button">STOP&ndash;&gt;-->
                            <!--                                        </button>-->
                            <!--                                    </m2>-->
                            <!--                                </li>-->

                            <!--                            </ul>-->
                        </div>
                    </li>
                    <li id='map-tools-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-tools"></i></i>
                            <span class="menu-text">Map tools</span>
                        </a>

                        <div id='map-tools-ui-side' class="sidebar-submenu">
                            <ul id="map-tools-list">

                                <li>

                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        <!--                                        <m1>Measurement</m1>-->
                                        Measurement
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="distanceToggle"
                                               onchange="toggleDrawingVisibility(this.id)" type="checkbox"

                                        >
                                    </div>

                                </li>


                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Search Location
                                        <input checked data-onstyle="success"
                                               data-toggle="toggle" id="searchBoxToggle"
                                               onchange="toggleSearchVisibility(this.id)" type="checkbox"

                                        >

                                    </div>
                                </li>

                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Click Area Info
                                        <i class="btn btn-small fas fa-unlock" href="#" style="color: #00c7ff" id="lockUnlockIcn" onclick="lockUnlockIcon(this)"></i>
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="clickInfoToggle"
                                               onchange="toggleAreaInfoBoxAndLayer(this.id)" type="checkbox"

                                        >

                                    </div>
                                </li>

                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Live Weather Information
                                        <input  data-onstyle="success"
                                                data-toggle="toggle" id="weatherInfoToggle"
                                                onchange="weatherClickInfoBox(this.id)" type="checkbox"

                                        >

                                    </div>
                                </li>


                                {% comment %} <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Live GPS Locations
                                        <input  data-onstyle="success"
                                                data-toggle="toggle" id="gpsLocationInfoToggle"
                                                onchange="startStopGPSReceiver(this.id)" type="checkbox"

                                        >

                                    </div>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                    </li>
                    <li id='enable-detections-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-eye"></i>
                            <span class="menu-text">Enable Detections</span>
                        </a>


                        <div id='enable-detections-ui-side' class="sidebar-submenu">
                            <ul id="enable-detections-list">


                            </ul>
                        </div>
                    </li>
                    <li id='algorithms-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-calculator"></i>
                            <span class="menu-text">Algorithms</span>

                        </a>


                        <div id='algorithms-ui-side' class="sidebar-submenu">
                            <m4>Manage</m4>
                            <ul id="view-load">
                                 <li>
                                    <m1> View or Load Algorithms</m1>
                                    <m2>
                                        <form action="{% url 'algorithms' operation_name=operation.operation_name %}">
                                            <button aria-pressed="false" class="btn btn-outline-success panel-btn"
                                                    type="submit" >LOAD
                                            </button>
                                        </form>
                                    </m2>


                                </li>




                            </ul>

                            <m4> Fire Spread</m4>
                            <ul id="start-build-">
                                <li>
                                    <m1> Calculate Fire Spread</m1>
                                    <m2>
                                        <button aria-pressed="false" class="btn btn-outline-success panel-btn" id="fireSpreadAlgorithmBtn"
                                                type="button" onclick="runFireSpreadDetAlgorithm()">GO
                                        </button>
                                        <button aria-pressed="false" class="btn btn-outline-danger panel-btn" id="clearFireDataBtn"
                                                type="button" onclick="clearFireDataFromMap()">CLEAR
                                        </button>



                                    </m2>
                                </li>




                            </ul>
                            <m4> 3D Object</m4>
                            <ul id="uav-construct-object-list">

                                <li>


                                    <m1> Construct 3D Object</m1>
                                    <m2>
                                        <button aria-pressed="false" class="btn btn-outline-success panel-btn" id="uploadObjectBtn"
                                                type="button" onclick="loadExternalODMAPI()">  GO
                                        </button>

                                        <button aria-pressed="false" class="btn btn-outline-danger panel-btn" id="clearObjectBtn"
                                                type="button" onclick="clearObjectFromMap()">CLEAR
                                        </button>

                                    </m2>



                                </li>




                            </ul>
                            
                            <m4> 3D Points & Meshes</m4>
                            <ul id="3d-mesh-construct-object-list">
                                <li>
                                    <m1>Load 3D Points</m1>
                                    <m2>
                                        <button aria-pressed="false" class="btn btn-outline-success panel-btn bldmp" id="points_mesh_load" onclick="load_points_meshes()" type="button">LOAD</button>
                                        <button aria-pressed="false" class="btn btn-outline-danger panel-btn bldmp" id="points_mesh_clean" onclick="clean_points_meshes()" type="button">CLEAN</button>
                                    </m2>
                                </li>
                                <li>
                                    <m1>Process 3D Meshes</m1>
                                    <m2>
                                        <button aria-pressed="false" class="btn btn-outline-success panel-btn bldmp" id="mesh_process" onclick="process_mesh()" type="button">PROCESS</button>
                                    </m2>
                                </li>
                                <li>
                                    <m1>Load 3D Meshes</m1>
                                    <m2>
                                        <button aria-pressed="false" class="btn btn-outline-success panel-btn bldmp" id="triangle_mesh_load" onclick="load_triangle_meshes()" type="button">LOAD</button>
                                        <button aria-pressed="false" class="btn btn-outline-danger panel-btn bldmp" id="triangle_mesh_clean" onclick="clean_triangle_meshes()" type="button">CLEAN</button>
                                    </m2>
                                </li>
                            </ul>

                            {% comment %} <m4> Motor Failure Risk</m4>
                            <ul id="uav-motor-failure-risk-list">

                                <li>


                                    <!--                                    <m1> Calculate Risk</m1>-->
                                    <!--                                    <m2>-->
                                    <!--                                        <button aria-pressed="false" class="btn btn-outline-success panel-btn" id="calculateRiskBtn"-->
                                    <!--                                                type="button" onclick="startCalculatingRisk()">  GO-->
                                    <!--                                        </button>-->


                                    <!--                                    </m2>-->

                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        <!--                                        <m1>Measurement</m1>-->
                                        Enable Risk Calculation
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="riskToggle"
                                               onchange="toggleRiskCalculation(this.id)" type="checkbox"

                                        >
                                    </div>
                                </li>


                            </ul> {% endcomment %}
                        </div>


                    </li>


                    <li class="header-menu">
                        <span>Visuals</span>
                    </li>


                    <li id='uavs-trajectory-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-route"></i>
                            <span class="menu-text">UAVs Trajectories</span>
                        </a>
                        <div id='uavs-trajectory-ui-side' class="sidebar-submenu">
                            <ul id="trajectory-list">
                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                    </div>
                                </li>
                            </ul>
                            <input type='hidden' id="clearLineLayers">
                        </div>
                    </li>

                    <li id='detections-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-diagnoses"></i>
                            <span class="menu-text">Detections</span>
                        </a>
                        <div id='detections-ui-side' class="sidebar-submenu">
                            <ul id="detection-types-list">

                                <li>

                                    <div class="d-flex justify-content-between" style="background: inherit">
                                        <m1> Show Detections</m1>


                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="showDetsToggle"
                                               onchange="toggleDetObject()"
                                               type="checkbox"
                                               data-size="small"

                                        >
                                    </div>
                                </li>



                            </ul>
                        </div>
                    </li>
                    <li id='video-feeds-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-video"></i>
                            <span class="menu-text">Video Feeds</span>
                        </a>
                        <div id='video-feeds-ui-side' class="sidebar-submenu">
                            <ul id="video-feeds-list">

                            </ul>
                        </div>


                    </li>

                    <li id='detection-video-feeds-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-film"></i>
                            <span class="menu-text">Detection Video Feeds</span>
                        </a>
                        <div id='detection-video-feeds-ui-side' class="sidebar-submenu">
                            <ul id="det-video-feeds-list">



                            </ul>
                        </div>


                    </li>

                    <li id='map-styles-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-globe"></i>
                            <span class="menu-text">Map Styles</span>
                        </a>
                        <div id='map-styles-ui-side' class="sidebar-submenu" id="sidebar-submenu">
                            <fieldset>
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="basic-v2" name="map-styles"
                                           onchange="changeLayer(this.id, MAPLIBRE_STYLE)" type="radio">
                                    <label class="custom-control-label" for="basic-v2"
                                           style="color: #ffffff ; font-size: 13px;">Basic</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="streets-v2" name="map-styles"
                                           onchange="changeLayer(this.id, MAPLIBRE_STYLE)" type="radio">
                                    <label class="custom-control-label" for="streets-v2"
                                           style="color: #ffffff ; font-size: 13px;">Streets</label>
                                </div>


                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="hybrid" name="map-styles"
                                           onchange="changeLayer(this.id, MAPLIBRE_STYLE)" type="radio">
                                    <label class="custom-control-label" for="hybrid"
                                           style="color: #ffffff ; font-size: 13px; ">Satellite</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="topo" name="map-styles"
                                           onchange="changeLayer(this.id, MAPLIBRE_STYLE)" type="radio">
                                    <label class="custom-control-label" for="topo"
                                           style="color: #ffffff ; font-size: 13px; ">Terrain-2D</label>
                                </div>


                                {% comment %} <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="offline-tiles" name="defaultExampleRadios"
                                            onchange="changeLayer(this.id, OWN_LAYER)" type="radio">
                                    <label class="custom-control-label" for="offline-tiles"
                                            style="color: #c7c7c7 ; font-size: 13px; ">Offline Layer</label>
                                </div> {% endcomment %}


                            </fieldset>

                        </div>
                    </li>
                    <!-- Firefox issue Form elements don't reset upon manually reloading page. https://bugzilla.mozilla.org/show_bug.cgi?id=46845 -->
                    <li id='map-layers-ui' class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-layer-group"></i>
                            <span class="menu-text">Map Layers</span>
                        </a>

                        <div id='map-layers-ui-side' class="sidebar-submenu">
                            <ul id="map-layers-list">

                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Cyprus Roads
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="roadLayerToggle"
                                               onchange="toggleLayerVisibility(this.id)"
                                               type="checkbox"
                                        >
                                    </div>
                                </li>

                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Cyprus Buildings
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="buildingsLayerToggle"
                                               onchange="toggleLayerVisibility(this.id)"
                                               type="checkbox"
                                        >
                                    </div>
                                </li>

                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Cyprus Dams
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="damsLayerToggle"
                                               onchange="toggleLayerVisibility(this.id)"
                                               type="checkbox"
                                        >
                                    </div>

                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Cyprus Hospitals
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="hospitalsLayerToggle"
                                               onchange="toggleLayerVisibility(this.id)"
                                               type="checkbox"
                                        >
                                    </div>
                                </li>

                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Cyprus ECA Poles
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="polesLayerToggle"
                                               onchange="toggleLayerVisibility(this.id)"
                                               type="checkbox"
                                        >
                                    </div>
                                </li>

                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                         style="background: inherit">
                                        Cyprus ECA Pole Lines
                                        <input data-onstyle="success"
                                               data-toggle="toggle" id="polesLinesToggle"
                                               onchange="toggleLayerVisibility(this.id)"
                                               type="checkbox"
                                        >
                                    </div>
                                </li>
                                {% if use_online_map == True %}
                                <li>
                                    <div class="d-flex justify-content-between div-list-item"
                                        style="background: inherit">
                                        Contour Elevation (10m)
                                        <input data-onstyle="success"
                                            data-toggle="toggle" id="contoutEleLayerToggle"
                                            onchange="toggleLayerVisibility(this.id)"
                                            type="checkbox"
                                        >
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>



                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>

    </nav>
    <!-- page-content  -->

</div>


    <script>

        None=null
        var data = {{replay_data|safe}}
        console.log("{{ replay_data.start_time}}")
        var start_time = new Date("{{ replay_data.start_time}}")
        var end_time = new Date("{{ replay_data.end_time}}")
        console.log(start_time.getTime())
        console.log(end_time.getTime())
        function postElementId(elementId, elementValue) {
        }
        {% if user.is_superuser %}
            document.addEventListener ("keydown", function (zEvent) {
                if (zEvent.ctrlKey && zEvent.altKey && zEvent.shiftKey && zEvent.key === "A") {
                    window.open("{% url 'platform_monitoring' %}", 'Monitoring', "height=max,width=max");
                }      
            } );
        {% endif %}
    </script>

    {% if use_online_map == True %}
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.js'></script>
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.css' type='text/css' />
    {% endif %} 

    <script src="{% static 'aiders/dist/jquery.csv.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/geocoder-lat-lng.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/panel.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/Popups.js' %}" type="text/javascript"></script>

    <link href="{% static 'aiders/panel.css' %}" rel="stylesheet">
    

    <footer class="footer  fixed-bottom border-top bg-white" style="height:7%;">
        <input type='hidden' id="INPUT"/>
        <button onclick= "rewind()" type="button"><i class="fa-solid fa-backward"></i></button>
        <button id="main_controller" onclick="play_pause();"type="button"><i class="fa-solid fa-pause"></i></button> 
        <button onclick= "fast_forward()" type="button"><i class="fa-solid fa-forward"></i></button> 
        <span id="timer" class="ps-1 align-items-center"> ··:··:·· / ··:··:··</span>
    </footer>
    
    <script src="{% static 'libs/mapbox-geocoder-v5/mapbox-gl-geocoder.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'libs/mapbox-geocoder-v5/mapbox-gl-geocoder.css' %}" type="text/css">

    <script src="{% static 'aiders/javascripts/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/detection_mission_replay.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/droneData.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/detection_models.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/dutils.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/dutils.conf.urls.example.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/layer-operations.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/BuildMap_Activator.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/Colors.js' %}"></script>
    <script src="{% static 'aiders/javascripts/drone-operations-replay-mission.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/layer-creation.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/user-drawing.js' %}" type="text/javascript"></script>
    <link href="{% static 'aiders/UAVmissions.css' %}" rel="stylesheet">
    <script src="{% static 'aiders/javascripts/loraLocationReceiver.js' %}"></script>
    <link href="{% static 'aiders/user-drawing.css' %}" rel="stylesheet">
    <script src="{% static 'aiders/javascripts/fire_spread_detection.js' %}"></script>

    <script src="{% static 'aiders/javascripts/Replay_Mission.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/live-stream_mission_replay.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/UAVmissions.js' %}" type="text/javascript"></script>
    <script src="{% static 'aiders/javascripts/click-area-information.js' %}"></script>
    <script src="{% static 'aiders/javascripts/Lidar_point_data.js' %}"></script>
</body>
